html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
}


h1 {
    font-size: 60px;
    text-align: center;
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}


html {
    background-color: #00539F;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #ff6600;
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(0, 0, 0);
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #9f006a;
    text-shadow: 3px 3px 1px rgb(20, 6, 39);
}

img {

    display: block;
    margin: 0 auto;
}